# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Editor / OS
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Vercel / Build
.vercel/
