<!DOCTYPE html>
<html>
<head>
    <title>ATS Score Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>ATS Score Engine</h1>

   <form method="POST" enctype="multipart/form-data">

    <!-- Resume Section -->
    <div class="input-section">
        <div class="section-header">
            <label>Resume</label>
            <input type="file" name="resume_file">
        </div>
        <textarea name="resume">{{ resume_text }}</textarea>
    </div>

    <!-- Job Description Section -->
    <div class="input-section">
        <div class="section-header">
            <label>Job Description</label>
        </div>
        <textarea name="jobdesc">{{ jd_text }}</textarea>
    </div>

    <button type="submit">Calculate</button>
</form>

    <div class="result-box">
        <h3>Predicted Score</h3>
        <p>{{ score }}</p>

        <h3>Chances of Shortlist</h3>
        <p>{{ chances }}</p>

        <h3>Matched Skills</h3>
        <p>{{ matched }}</p>

        <h3>Missing Skills</h3>
        <p>{{ missing }}</p>

        <h3>Extra Skills</h3>
        <p>{{ extra }}</p>
    </div>

</div>

</body>
</html>
