<!DOCTYPE html>
<html>
<head>
    <title>ATS Score Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <div class="title-row">
    <img src="{{ url_for('static', filename='pengu1.png') }}" class="logo-anim">
    <h1 class="title">ATS Score Engine</h1>
</div>
   <form method="POST" enctype="multipart/form-data">

    <!-- Resume Section -->
    <div class="input-section">
        <div class="section-header">
            <label>RESUME</label>
            <input type="file" name="resume_file">
        </div>
        <textarea name="resume">{{ resume_text }}</textarea>
    </div>

    <!-- Job Description Section -->
    <div class="input-section">
        <div class="section-header">
            <label>JOB DESCRIPTION</label>
        </div>
        <textarea name="jobdesc">{{ jd_text }}</textarea>
    </div>

    <button type="submit">Calculate</button>
</form>

    <div class="result-box">
        <h3>PREDICTED SCORE</h3>
        <p>{{ score }}</p>

        <h3>PROBABILITY OF SHORTLIST</h3>
        <p>{{ chances }}</p>

        <h3>MATCHED SKILLS</h3>
        <p>{{ matched }}</p>

        <h3>MISSING SKILLS</h3>
        <p>{{ missing }}</p>

        <h3>ADDITIONAL SKILLS</h3>
        <p>{{ extra }}</p>
    </div>

</div>

</body>
</html>
